

<h2>SERVICES</h2>



<style>

h2{
    padding:  0rem 0.9375rem;
    background:  #FFCC4A;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 1.25rem;
   
}

</style>